body {
    font-family: GODOFWAR;
    src: local(GODOFWAR.TTF);
}

.Merica {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

.meat {
    margin-bottom: 80px;
}